*.sublime-project
*.sublime-workspace
.idea
.cache
.tox

*.test.yml

# Python

*.pyc
*pb2*.py
__pycache__
.pytest_cache
.mypy_cache

# C++.

a.out
*.o
*.obj
*.lib
/build/**
/build*/**
*.autosave

# Ignore C++ files in the root directory.
/*.cpp
/*.h

.cccc

# Mac OS X

.DS_Store

# Vim swap.

[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]

# Session
Session.vim

# Temporary
.netrwhist
*~
# Persistent undo
[._]*.un~


# CTest

Testing


# gprof call graph

gmon.out


# Coverage results.

*.gcda
*.gcno


# OCLint

/tools/oclint-*
