*.sublime-project
*.sublime-workspace
.idea
.cache
.tox

*.test.yml

# Python

*.pyc
*pb2*.py
__pycache__
.pytest_cache
.mypy_cache

# PyLint

/knp/pylint_report


# C++.

a.out
*.o
*.obj
*.lib
/build/**
/build*/**
/*-build-*
*.autosave


# Ignore C++ files in the root directory.

/*.cpp
/*.h


# Installation directory and artifacts.

/install

.cccc

# Mac OS X

.DS_Store

# Vim swap.

[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]

# Session
Session.vim

# Temporary
.netrwhist
*~
# Persistent undo
[._]*.un~


# CTest

Testing


# gprof call graph

gmon.out


# Coverage results.

*.gcda
*.gcno
*.gcov


# OCLint

/tools/oclint-*


# QtCreator

CMakeLists.txt.user
