[submodule "third-party/spdlog"]
	path = third-party/spdlog
	url = https://github.com/gabime/spdlog
[submodule "third-party/googletest"]
	path = third-party/googletest
	url = https://github.com/google/googletest
[submodule "third-party/pcm"]
	path = third-party/pcm
	url = https://github.com/intel/pcm
[submodule "third-party/flatbuffers"]
	path = third-party/flatbuffers
	url = https://github.com/google/flatbuffers
[submodule "third-party/csv2"]
	path = third-party/csv2
	url = https://github.com/p-ranav/csv2.git
[submodule "third-party/json"]
	path = third-party/json
	url = https://github.com/nlohmann/json.git
[submodule "third-party/simdjson"]
	path = third-party/simdjson
	url = https://github.com/simdjson/simdjson.git
[submodule "third-party/libsonata"]
	path = third-party/libsonata
	url = https://github.com/BlueBrain/libsonata.git
