---
BasedOnStyle: Google
AccessModifierOffset: -4
AlignAfterOpenBracket: AlwaysBreak
AllowShortFunctionsOnASingleLine: Inline
BreakBeforeBraces: Allman
ColumnLimit: "120"
ConstructorInitializerIndentWidth: "4"
ContinuationIndentWidth: "4"
IndentWidth: "4"
MaxEmptyLinesToKeep: "2"
NamespaceIndentation: None
SpaceInEmptyParentheses: "false"
TabWidth: "4"
UseTab: Never

IncludeBlocks: Regroup
IncludeCategories:
  # KNP headers in <>.
  - Regex:           '<knp\/[[:alnum:]_\/\-]+>'
    SortPriority:    0
    Priority:        2
    CaseSensitive:   true
  # Headers in <> with extension (system C headers).
  - Regex:           '<[[:alnum:]_.\/\-]+\.[[:alnum:]_]+>'
    SortPriority:    10
    Priority:        10
    CaseSensitive:   true
  # Headers in <> without extension (system C++ headers).
  - Regex:           '<[[:alnum:]_.\/\-]+>'
    SortPriority:    11
    Priority:        11
    CaseSensitive:   true
  # Headers in <> from specific external libraries.
  - Regex:           '<boost\/[[:alnum:]_.\/\-]+>'
    SortPriority:    20
    Priority:        20
    CaseSensitive:   true
  # Headers in "" with extension.
  - Regex:           '"[[:alnum:]_.\/\-]+"'
    SortPriority:    21
    Priority:        21
    CaseSensitive:   true
  # Other headers.
  - Regex:           '.*'
    SortPriority:    22
    Priority:        22
    CaseSensitive:   true
SortIncludes: CaseSensitive
