BasedOnStyle: Google
AlignAfterOpenBracket: AlwaysBreak
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
BreakBeforeBraces: Allman
ColumnLimit: '120'
ConstructorInitializerIndentWidth: '4'
ContinuationIndentWidth: '4'
IndentWidth: '4'
MaxEmptyLinesToKeep: '2'
SpaceInEmptyParentheses: 'false'
TabWidth: '4'
